//- model, data
-
    var header = '#experience'
    var experienceList = [
        {
            title: 'mytitle',
            date: 'the date 2001',
            campany: 'the company',
            responsabilityList: [
                'responsability one',
                'responsability two',
                'responsability three',
            ]
        },
        {
            title: 'mytitle 1',
            date: 'the date 2002',
            campany: 'the company',
            responsabilityList: [
                'responsability one',
                'responsability two',
                'responsability three',
            ]
        },
        {
            title: 'mytitle 2',
            date: 'the date 2003',
            campany: 'the company',
            responsabilityList: [
                'responsability one',
                'responsability two',
                'responsability three',
            ]
        }
    ];
//- view, presentation
//- css "+" : checked
    impute
    controlled container (div, or whatever)

#experience
.experience
    .experience__header=header
    input.experience__input(type="radio", name="same-name", id="experience-default")

    each experience, key in experienceList
        input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.my-cv__icon--plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experience__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability